* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.txt {
    color: grey;
    padding-left: 10px;
}

.background-container {
    background: linear-gradient(180deg, rgba(0,149,135,1) 20%, rgba(213,218,216,1) 20%);
    height: 100vh;
}

.main-container {
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: white;
    transform: translate(10px, 50px);
}

.flex {
    display: flex;
}

.left-col {
    height: 100%;
    width: 30%;
    float: left;
}

.right-col {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.user-main-container,
.user-top-container-dx {
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
    background-color: #eaeaea;
}

.user-img {
    display: inline-block;
}

.user-img .flex {
    align-items: center;
}

img {
    border-radius: 50%;
    height: 68px;
    width: auto;
}

.utilities .icon {
    font-size: 20px;
    color: grey;
    padding: 0 11px;
    cursor: pointer;
}

.notifications {
    padding: 20px;
    background-color: lightskyblue;
}

.bell-icon {
    font-size: xx-large;
    color: white;
    margin-right: 5px;
}

.input-filter {
    padding-left: 10px;
    background-color: lightgrey;
}

.input-filter input {
    width: 80%;
    padding: 5px;
    border: none;
}

.user {
    padding: 25px;
    cursor: pointer;
}

.user-top-container-dx {
    height: 68px;
}

.messages-area {
    height: 100%;
    width: 100%;
    background-image: url(../img/mine.jpg);
}

.text-messages-input {
    height: 68px;
    background-color: #f3eeea;
    justify-content: space-between;
    align-items: center;
}

.messages {
    overflow-y: scroll;
    height: calc(100% - 200px);
}

.emoji,
.vocal_icon {
    font-size: 20px;
    text-align: center;
    color: #6a7477;
    width: 100px;
}

.text-messages-input input {
    height: 30px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
}

.filter {
    background-color: #ffffff;
    height: 50px;
    padding: 15px 5px;
}

.filter button {
    width: 50px;
    padding-left: 20px;
    border: none;
    color: #b0b0b0;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
}

.filter input {
    width: 80%;
    border: none;
    color: #b0b0b0;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
}

.filter .flex {
    padding-left: 20px;
}

.mymessage {
    text-align: right;
    padding: 50px;
}

.friendmessage {
    padding: 20px;
    text-align: left;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 30%;
}

.green-msg {
    padding: 30px;
    background-color: #d5f9ba;
    font-weight: bold;
    border-radius: 10px;
    width: 30%;
    text-align: left;
    margin: 5px;
}