* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.txt {
    color: grey;
    padding-left: 10px;
}

.background-container {
  background-color:cadetblue;
  height: 100vh;
}

.main-container {
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: white;
    transform: translate(10px, 50px);
}

.flex {
    display: flex;
}

.left-col {
    height: 100%;
    width: 30%;
}

.right-col {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.user-main-container,
.user-top-container-dx {
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgrey;
    background-color: #eaeaea;
}

.user-img {
    display: inline-block;
}

.user-img .flex {
    align-items: center;
}

img {
    border-radius: 50%;
    height: 68px;
    width: auto;
}

.utilities .icon {
    font-size: 20px;
    color: grey;
    padding: 0 11px;
    cursor: pointer;
}

.notifications {
    padding: 20px;
    background-color: lightskyblue;
}

.bell-icon {
    font-size: xx-large;
    color: white;
    margin-right: 5px;
}

.input-filter {
    padding-left: 10px;
    background-color: lightgrey;
}

.input-filter input {
    width: 80%;
    padding: 5px;
    border: none;
}

.user {
    padding: 25px;
    cursor: pointer;
}

.user-top-container-dx {
    height: 68px;
}

.messages-area {
    height: 100%;
    width: 100%;
}

.text-messages-input {
    height: 68px;
}