<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="root">

   <div class="background-container">

    <div class="main-container"> 

            <!--left col-->
            <div class="left-col">
            <!--user main-->
               <div class="user-main-container flex">
                   <div class="user-img">
                       <div class="flex">
                           <div>
                            <img src="img/avatar_io.jpg" alt="io">
                           </div>

                           <div>Nome Utente</div>
                       </div>
                   </div>

                   <div>
                     <div class="utilities flex">

                        <div class="icon">
                            <i class="fas fa-circle-notch"></i>
                        </div>

                        <div class="icon">
                            <i class="fas fa-comment-alt"></i>
                        </div>

                        <div class="icon">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                     </div>
                   </div>
                   
               </div>
            <!--user main-->

            <!--notification-->
              <div class="notifications">
                  <div class="flex">
                      <div class="bell-icon">
                        <i class="fas fa-bell-slash"></i>
                      </div>
                      <div>
                         <div>Ricevi notifiche di nuovi messaggi</div>
                         <div><a href="#">Attiva notifiche desktop</a></div>
                      </div>
                  </div>
              </div>
            <!--notification-->

            <!--filter-->
            <div class="filter">
                <div class="flex">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    <input v-model="filterTextName" type="text" name="filter" id="filterbar" placeholder="Cerca o inizia una nuova chat"> 
                    
                </div>
            </div>
            <!--filter-->

            <!--messagges-->
            <div class="messages">
                <div class="user" v-for="(contact, index) in contacts">
                    <div class="flex">
                        <div>
                         <img :src="`img/avatar${contact.avatar}.jpg`" alt="io">
                        </div>

                        <div>{{ contact.name }}</div>
                    </div>
                </div>
               <!--
                <div class="user">
                    <div class="flex">
                        <div>
                         <img src="img/avatar_2.jpg" alt="io">
                        </div>

                        <div>Fabio</div>
                    </div>
                </div>

                <div class="user">
                    <div class="flex">
                        <div>
                         <img src="img/avatar_3.jpg" alt="io">
                        </div>

                        <div>Samuele</div>
                    </div>
                </div>

                <div class="user">
                    <div class="flex">
                        <div>
                         <img src="img/avatar_4.jpg" alt="io">
                        </div>

                        <div>Luisa</div>
                    </div>
                </div>
            -->



            </div>
            <!--messagges-->




            </div>
            <!--left col-->

            <!--right col-->
            <div class="right-col">

                <!--user header-->
                <div class="user-top-container-dx flex">
                    <div class="user-img">
                        <div class="flex">
                            <div>
                             <img src="img/avatar_1.jpg" alt="io">
                            </div>
 
                            <div class="user_name">Nome Utente <br>
                            <span>Ultimo accesso oggi alle</span>
                        </div>
                        </div>
                    </div>
 
                    <div>
                      <div class="utilities flex">
 
                         <div class="icon">
                            <i class="fas fa-search"></i>
                         </div>
 
                         <div class="icon">
                            <i class="fas fa-share-square"></i>
                         </div>
 
                         <div class="icon">
                            <i class="fas fa-ellipsis-v"></i>
                         </div>
 
                      </div>
                    </div>   
                </div>
                <!--user header-->

                <!--main messages container-->
                <div class="messages-area">
                        <div class="mymessage">ciao</div>
                        <div class="friendmessage">ciao</div>
                </div>
                <!--main messages container-->


                <!--footer text messages container-->
                <div class="text-messages-input flex">
                    
                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>

                        <input type="text" name="message" id="msgInput" placeholder="Scrivi un messaggio">

                        <div class="vocal_icon">
                            <i class="fas fa-microphone"></i>
                        </div>
                    
                </div>
                <!--footer text messages container-->




            </div>
            <!--right col-->
    </div>

        
   </div>
   </div>
    

    
    <script type="text/javascript" src="js/script.js" ></script>
</body>
</html>